black==25.1.0
classify-imports==4.2.0
click==8.1.8
cmake==4.0.0
dlib==19.24.8
imutils==0.5.4
mypy==1.15.0
mypy_extensions==1.1.0
numpy==2.2.5
opencv-contrib-python==4.11.0.86
packaging==25.0
pathspec==0.12.1
pip==25.0
platformdirs==4.3.7
reorder_python_imports==3.14.0
setuptools==75.8.0
tqdm==4.67.1
typing_extensions==4.13.2
wheel==0.45.1
z-rer==0.0.2
